body {
  font-family: Helvetica;
  width: 300px;
  margin: 100 auto;
}
.box {
  width: 33%;
  height: 100px ;
  float: left;
  font-size: 90px;
  font-weight: bolder;
  box-sizing: border-box;
  border: 2px dashed #e6e6e6;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

section {
  width: 300px;
  text-align: center;
}

.X {
  color: red;
}

.O {
  color: blue;
}