body {
  font-family: Helvetica;
}
.box {
  width: 33%;
  height: 100px ;
  float: left;
  font-size: 90px;
  font-weight: bolder;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

section {
  width: 300px;
}

.X {
  color: red;
}

.O {
  color: blue;
}